body {
  font-family: 'NanumGothic';
}

@font-face {
  font-family: 'East Sea Dokdo';
  src: url('../styles/contents/EastSeaDokdo-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../styles/contents/NanumGothic-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.app_container {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.app_main {
  position: relative;
  width: 1500px;
  background-color: rgb(255, 255, 255);
  top: 60px;
}

.app_navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(252, 246, 246);
  border: 0.2px rgba(105, 36, 36, 0.39);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
