#profile {
  display: flex;
  justify-content: center;
}

.profile {
  align-content: center;
  height: 1000px;
  top: 40px;
  width: 1000px;
  border: 10px solid;
  border-color: bisque;
  background-color: rgb(255, 255, 255);
  color: black;
  position: relative;
}
